<!doctype html>
<title>Monitoring - Conception</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&family=Raleway:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <img src="{{ url_for('static', filename='logo.svg') }}" class="logo">
  <h1>Monitoring</h1>
</nav>
<article class="content">
  {% for key, val in sensors.items() %}
    <section class="container">
      <h2>{{ sensors[key] }}</h2>
      <p>{{ sensors[val] }}</p>
    </section>
  {% endfor %}
</article>