body {
    margin: 0 auto;
    background: white;
}

.logo {
    width: 100px;
    height: 60px;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 100px;
    background: #202731;
    display: flex;
    align-items: center;
}

nav h1 {
    font-family: 'Raleway', sans-serif;
    color: lightgray;
    flex: auto;
    margin: 0;
}

nav h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: lightgray;
    padding: 0 2rem;
}

.content {
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 10%;
    margin: 2rem;
}

.container h2 {
    color: gray;
}

.container hr {
    width: 100%;
    border: none;
    border-top: 1px solid lightgray;
}

.container p {
    color: black;
}

